<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TVEpisodes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>79F7F6FA1CD84F7F00D46563</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79F7F70E1CD84F8000D46563</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79F7F7191CD84F8000D46563</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
